<%= form_for([:admin, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => 'tinymce' %>
  </div>
  <div class="field">
    <%= f.label :meta_tags %><br />
    <%= f.text_field :meta_tags %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_field :meta_description %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :class => 'tinymce' %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :published_on %><br />
    <%= f.date_select :published_on %>
  </div>
  <div class="field">
    <%= f.label :start_publication_on %><br />
    <%= f.date_select :start_publication_on %>
  </div>
  <div class="field">
    <%= f.label :stop_publication_on %><br />
    <%= f.date_select :stop_publication_on %>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('.tinymce').tinymce({
      theme: 'advanced',
      
      // Theme options - button# indicated the row# only
      theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,|,justifyleft,justifycenter,justifyright,fontselect,fontsizeselect,formatselect",
      theme_advanced_buttons2 : "cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,|,code,preview,|,forecolor,backcolor",
      theme_advanced_buttons3 : "insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,charmap,emotions",      
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true
    });
  });
<% end %>
